env:
    global:
        - 'CC_TEST_REPORTER_ID=2ac243263ebf19a72f697a1b48e92f558370642a6a70449818ec25936620943f'

language: 'php'

php:
    - '7.2'
    - '7.3'
    - '7.4'

install:
    - 'composer install'

before_script:
    - 'curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter'
    - 'chmod +x ./cc-test-reporter'
    - './cc-test-reporter before-build'

script:
    - 'XDEBUG_MODE=coverage vendor/bin/phpunit'

after_success:
    - 'bash <(curl -s https://codecov.io/bash) -f build/logs/clover.xml'
    - './cc-test-reporter after-build'
