<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheResultFile=".phpunit.cache/test-results"
         colors="true"
         executionOrder="depends,defects"
         forceCoversAnnotation="true"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         convertDeprecationsToExceptions="true"
         failOnRisky="true"
         failOnWarning="true"
         verbose="true">

    <testsuites>
        <testsuite name="DarkWeb Design Symfony Add-on Pack Test Suite">
            <directory>symfony-addon-constraints/tests</directory>
            <directory>symfony-addon-form-types/tests</directory>
            <directory>symfony-addon-transformers/tests</directory>
        </testsuite>
    </testsuites>

    <coverage cacheDirectory=".phpunit.cache/code-coverage"
              processUncoveredFiles="true">
        <include>
            <directory suffix=".php">symfony-addon-constraints/src</directory>
            <directory suffix=".php">symfony-addon-form-types/src</directory>
            <directory suffix=".php">symfony-addon-transformers/src</directory>
        </include>
    </coverage>

</phpunit>
